#header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 10%;
    padding: 0 8rem;
    background-color: var(--dark-blue);
    border-bottom: 1px solid var(--red);
    box-shadow: 0 0 10px var(--black);
    color: var(--white);
    position: fixed;
    top: 0;
    left: 0;
    z-index: 4;
}

#logo-image img {
    width: 130px;
}

#nav-list {
    display: flex;
    gap: 50px;

}

.item {
    color: var(--white);
    font-weight: 600;
    padding: 0.5rem 0;
    position: relative;

}

.item::after {
    content: '';
    position: absolute;
    width: 100%;
    height: 2px;
    left: 50%;
    bottom: 0;
    background-color: var(--orange);
    transform: translateX(-50%) scaleX(0);
    transition: all 0.3s ease-in-out;
}

.item:hover {
    color: var(--orange);
    text-shadow: 0 0 10px var(--yellow);
}

.item:hover::after {
    transform: translateX(-50%) scaleX(1);
}

#box-sound-login {
    display: flex;
    gap: 50px;
}

.btn-sound img,
.btn-login img {
    width: 45px;
}