#box-home {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 75%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.main-title {
    text-align: center;
}

.main-title img {
    width: 380px;
}

#link-platforms {
    display: flex;
    gap: 1.5rem;
}

#link-platforms a {
    width: 6rem;
    height: 3.2rem;
    background-color: var(--white);
    border-radius: 10px;
    text-align: center;
    padding: 0 10px;
    transition: all 0.3s ease-in-out;
}

#link-platforms a:hover {
    background-color: var(--yellow);
    box-shadow: 0 0 10px var(--red);
}

#link-platforms a img {
    width: 50px;

}
